---
layout: default
---

{% include home-header.html %}

<h1>{{ page.title }}</h1>

{%- assign publications = site.posts | sort: 'date' | reverse -%}

<div class="publications">
  {%- assign grouped_publications = publications | group_by_exp: "post", "post.date | date: '%Y'" -%}
  {%- for year in grouped_publications -%}
    <h2>{{ year.name }}</h2>

  {%- endfor -%}
</div>

<a href="#" onclick="backToTop()" class="back-to-top">Top &#8648;</a>

<script>
  function backToTop() {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  }
</script>
