---
layout: default
---

{% include home-header.html %}

<h1>{{ page.title }}</h1>

<div class="awards">
  {% assign awards_by_year = site.data.awards | sort: "year" | reverse %}
  {% assign grouped_awards = awards_by_year | group_by: "year" %}
  {%- for year in grouped_awards -%}
    <h2>{{ year.name }}</h2>
    {%- for award in year.items -%}
      <p>
        {{ award.name }} ({{ award.country }})
      </p>
    {%- endfor -%}
  {%- endfor -%}
</div>

<a href="#" onclick="backToTop()" class="back-to-top">Top &#8648;</a>

<script>
  function backToTop() {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  }
</script>

<style>
  .back-to-top {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    text-decoration: none;
    color: #007bff;
  }

  .back-to-top:hover {
    text-decoration: underline;
  }
</style>
