---
layout: default
---

{% include home-header.html %}

<h1>{{ page.title }}</h1>

<div class="experiences">
  {% assign experiences_by_year = site.data.experiences | sort: "year" | reverse %}
  {% assign grouped_experiences = experiences_by_year | group_by: "year" %}
  {%- for year_group in grouped_experiences -%}
    <h2>{{ year_group.name }}</h2>
    <ul>
      {%- for experience in year_group.items -%}
        <li>
          <strong>{{ experience.date }}:</strong> {{ experience.description }}
          {%- if experience.image -%}
            <br>
            <img src="{{ experience.image }}" alt="{{ experience.description }}" style="max-width: 100%; height: auto;">
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  {%- endfor -%}
</div>

<a href="#" onclick="backToTop()" class="back-to-top">Top &#8648;</a>

<script>
  function backToTop() {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  }
</script>

<style>
  .back-to-top {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    text-decoration: none;
    color: #007bff;
  }

  .back-to-top:hover {
    text-decoration: underline;
  }
  .experiences img {
    margin-top: 10px;
  }
</style>
