---
layout: default
---

{% include home-header.html %}

<h1>{{ page.title }}</h1>

{%- assign publications = site.posts | group_by_exp: "post", "post.date | date: '%Y'" -%}

<div class="publications">
  {%- for year in publications reversed -%}
    <h2>{{ year.name }}</h2>
    <ul>
      {%- for post in year.items reversed -%}
        <li>
          <!-- Concisely formatted publication entry -->
          <p>
            {%- if post.authors -%}
              {{ post.authors }},
            {%- endif -%}
            {{ post.date | date: '%Y' }}:
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>.
            {%- if post.journal -%}
              {{ post.journal }},
            {%- endif -%}
            {%- if post.status -%}
              {{ post.status }}.
            {%- endif -%}
            {%- if post.doi -%}
              <a href="{{ post.doi }}" target="_blank">DOI</a>
            {%- endif -%}
          </p>
        </li>
      {%- endfor -%}
    </ul>
  {%- endfor -%}
</div>

<a href="#" onclick="backToTop()" class="back-to-top">Top &#8648;</a>

<script>
  function backToTop() {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  }
</script>
